	/* Style for our header texts
	* --------------------------------------- */
	h1{
		font-size: 4.5em;
        font-family: 'Oswald', sans-serif;
		color: #333;
		margin:0;
        padding:0;
        margin-bottom: 3vh;
    }
    p{
        font-size: 1.5em;
        font-family: 'Roboto', sans-serif;
        letter-spacing: 0.05em;
    }

	/* Centered texts in each section
	* --------------------------------------- */
	.section{
        height: 100vh;
        font-family: 'Roboto', sans-serif;
		text-align:justify;
        overflow: hidden;
        position: relative;
        /* section을 구분짓기 위한 임시 */
        border-bottom: 1px solid #333;
        box-sizing: border-box;
	}

	#myVideo{
		position: absolute;
		right: 0;
		bottom: 0;
        min-width: 100%; 
        min-height: 100%;
        background-position: center center;
        background-size: contain;
/*		width: 100%;
		height: 100%;
		background-size: 100% 100%;
 		background-color: black;
   		object-fit: cover;
   		z-index:3;*/
	}

	/* Layer with position absolute in order to have it over the video
	* --------------------------------------- */
	#section0 .layer{
		position: absolute;
		z-index: 4;
		width: 100%;
		left: 0;
        top: 38%;
        font-size: 1.5em;
        text-align: center;
		/*
		* Preventing flicker on some browsers
		* See http://stackoverflow.com/a/36671466/1081396  or issue #183
		*/
		/* -webkit-transform: translate3d(0,0,0);
		-ms-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0); */
	}

	/*solves problem with overflowing video in Mac with Chrome */
	#section0{
		overflow: hidden;
	}


	/* Bottom menu
	* --------------------------------------- */
	#infoMenu li a {
		color: #fff;
	}


	/* Hiding video controls
	* See: https://css-tricks.com/custom-controls-in-html5-video-full-screen/
	* --------------------------------------- */
	video::-webkit-media-controls {
	  display:none !important;
    }
    
*{
    margin: 0; padding: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
ul,li,ol{
    list-style: none;
}
.center{
    width: 1200px;
    margin: 0 auto;
    height: 100%;
    /* 임시 background, z-index */
    /* background-color: rgba(255, 255, 255, 0.329); */
    z-index:999;
    /* 임시 */
    position: relative;
    padding-top: 5%;
    box-sizing: border-box;
}

/*************************************** sec0 - title ************************************************/
#section0 h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 0.05em;
    color: #fff;
    font-size: 6em;
    text-shadow: 0 0 30px #333;
}
#section0 .box{
    letter-spacing: 0.1em;
    width: 700px;
    text-align: center;
    padding: 13px;
    background: rgb(163, 218, 255);
    color: #000;
    font-size: 1.3em;
    font-weight: 700;
    margin: 0 auto;
}

/* sec1 */
#section1 .box{
    padding-top: 3%;
    float: left;
    width: 350px;
    height: auto;
    padding: 2vh;
}

#section1 .box .thumbnail{
    max-width: 100%;
    width: 70%;
    height: 20vh;
    margin: 0 auto;
    /* height: 260px; */
    overflow: hidden;
    margin-bottom: 3%;
}
#section1 .box .thumbnail img{
    height: 100%;
}
#section1 .box:nth-of-type(2) .thumbnail{
    background-image: url(../img/sensor.jpg);
    background-size: cover;
    background-position: 70%;
}
#section1 .box .text{
    text-align: left;
    box-sizing: border-box;
    font-size: 1.2em;
}
#section1 .box .text>p{
    padding: 1em;
}
#section1 .box h2{
    margin-bottom: 30px;
    text-align: center;
    font-size: 1.5em;
}
#section1 li{
    font-size: 1.0em;
    padding:0.1em 0.3em;
}
#section1 li:before{
    content: "―";
    margin-right: 0.5em;
}

/* sec2 why stradvision?*/
#section2 .content{
    width: 25%;
    float: left;
    text-align: center;
    padding-top: 3%;
}
#section2 .content h2{
    font-size: 1.6em;
    height: 100px;
}
#section2 .content h2:nth-of-type(2){
    color: #ffa632;
}
#section2 .content p{
    height: 100px;
}
#section2 .content p:nth-of-type(2){
    height: 50px;
}
#section2 .content img{
    width: 80%;
}
#section2_1 .content{
    width: 40%;
    float: left;
    height: 300px;
    overflow: hidden;
    margin-right: 3vh;
}
#section2_1 .center>p{margin-bottom: 3vh;}
#section2_1 .content #video{
    width: 100%;
    background-size: cover;
}
#section2_2 .center>p{
    margin-bottom: 5vh;
}
table{
    width: 100%;
    height: 400px;
    text-align: center;
    font-size: 24px;
    border: 1px solid #333;
    border-collapse: collapse;
}
table td,th{
    border: 1px solid #333;
    vertical-align: inherit;
}
/* #section2_3  */
#section2_3{
    background-color: #8fbcdb;
    /* background-size: cover;
    background-repeat: no-repeat; */
    color: #fff;
}
#section2_3 h1{
    color: #fff;
}
#section2_3 p{
    color: #333;
    padding: 0.3em;
}
#section2_3 .timeline{
    position: relative;
    top:15vh;
    left: -50px;
}
#section2_3 .timeline .achieve{
    position: absolute;
    font-size: 1.2em;
    color: #333;
}
#section2_3 .achieve img{
    height: 30px;
    position: absolute;
    left: -35px;
    top: 20px;
}
#section2_3 .timeline .time01{
    bottom: -50px;
    left: 160px;
}
#section2_3 .timeline .time02{
    bottom: -50px;
    left: 400px;
}
#section2_3 .timeline .time03{
    bottom: -130px;
    left: 510px;
}
#section2_3 .timeline .time04{
    top: -70px;
    left: 590px;
}
#section2_3 .timeline .time05{
    top: -70px;
    left: 850px;
}
#section2_3 .timeline .time06{
    bottom: -50px;
    left: 950px;
}
#section2_3 .timeline .time07{
    bottom: -150px;
    left: 1050px;
    text-align: left;
}


/* 상자 크기 input태그 자동늘리기 http://vnthf.logdown.com/posts/2016/05/18/front-input-box */
#section2_3 .timeline .time09{
    top: -100px;
    left: 30px;
}
#section2_3 .timeline .time09 img{
    height: 50px;
    position: static;
    vertical-align: -20px;
    margin-right: -10px;
}

#section2_4 .center>p{
    margin-bottom: 3vh;
}
/* sec3 product */
#section3 .source{
    position: absolute;
    width: 800px;
    height: 500px;
    top: 25%;
    z-index: 100;
}
#section3 .source img{
    width: 100%;
    vertical-align: center;
}
#section3 .content{
    position: absolute;
    width: 800px;
    height: 500px;
    background: #333;
    color: #fff;
    top: 30%;
    right: 0;
    z-index: 99;
}
#section3 .text{
    text-align: left;
    padding:80px 2em;
    box-sizing: border-box;
    margin-left: 48%;
    font-size: 1.3em;
}
#section3 .content .text>li{
    padding: 0.4em;
}
/* sec4 */
#section4 h1{
    text-align: center;
    margin-bottom: 40px;
}
#section4 .center>p{
    text-align: center
}
#section4 ul{
    font-size: 1.5em;
    padding-top: 50px;
    padding-left: 100px;
}
#section4 h2{
    font-size: 3.0em;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}
#section4 .content{
    margin-top: 100px;
    width: 50%;
    float: left;
}
#section4 #slide2 h2{
    background: #0f87da;
    padding: 0.1em;
    color: #fff;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}
#section4 #slide1 ul>li:first-of-type{margin-bottom: 15px;}
#section4 .contentWrap>h1{
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%,-50%);
    color: #8fbcdb;
}
#section4 .contentWrap>h2{
    margin-bottom: 30px;
}
/* sec6 */

#section6{
    text-align:center;
}
#section6 .content{
    padding-top: 8vh;
}
#section6 .content>div{
    float: left;
    width: 30%;
    height: 200px;
    line-height: 200px;
    background: #85aefa;
    font-size: 32px;
    margin-right: 3%;
    margin-bottom: 3%;
    color: #fff;
}
#section6 .content>div:nth-of-type(3),#section6 .content>div:nth-of-type(6){
    margin-right: 0;
}

/**************************************** allies logo **************************************/
#section7 .content img{
    max-height: 50px;
    margin: 25px auto 0;
}
#section7 h1{
    margin-bottom: 40px;
    text-align: center;
    color: #333;
}
#section7 .content>h2{
    font-size: 3em;
    margin-bottom: 50px;
}
#section7 .content{
    text-align: center;
    width: 50%;
    float: left;
    box-sizing: border-box;
}

/***************************************** sec7 leadership ***********************************************/
#section8 h1{
    text-align: center;
}
#section8 h2{
    margin-bottom: 20px;
}
#section8 .center>div{
    font-size: 1.3em;
    float: left;
    width: 33%;
    height: 800px;
    text-align: center;
    padding: 5vh;
    box-sizing: border-box;
}
#section8 img{
    height: 150px;
    border-radius: 50%;
    margin-bottom: 30px;
}
#section8 li{
    text-align: left;
    list-style: square;
    padding: 0.4em;
}
/****************************************** sec8 Global OPERATION*****************************************/
#section9 .center{
    background-image: url(../img/globalmap.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
#section9 h1{
    text-align: center;
}
/* #section9 .content{padding-top: 30px; box-sizing: border-box;} */
#section9 .content div{
    position: absolute;
    width: 300px;
    height: 20vh;
    text-align:center;
}
#section9 .content p{
    font-size: 1.3em;
    margin-top: -3vh;
}
#section9 .content img{
    height: 150px;
}
#section9 .content div:nth-of-type(1){
    left: 5%;
}
#section9 .content div:nth-of-type(2){
    top: 53%; transform: translateY(-50%);
}
#section9 .content div:nth-of-type(3){
    top: 75%; transform: translateY(-50%);
    left: 5%;
}
#section9 .content div:nth-of-type(4){
    right: 5%;
}
#section9 .content div:nth-of-type(5){
    right: 0;
    top: 53%; transform: translateY(-50%);
}
#section9 .content div:nth-of-type(6){
    right: 5%;
    top: 75%; transform: translateY(-50%);
}

/******************************** sec9 **********************************************/
#section10{
    background-image: url(../img/footerBG.png);
    background-size: cover;
    background-repeat: no-repeat;
}
#section10 .center{
    padding-top:15vh;
}
#section10 .content{
    background-color: rgba(255, 255, 255, 0.5);
    width: 70%;
    height:60vh; 
    margin:0 auto;
    text-align: center;
    padding-top: 17vh;
    box-sizing: border-box;
}
#section10 .content h1{
    margin-bottom: 5vh;
    letter-spacing: 0.1em;
}
#section10 .content p{
    font-size: 2em;
}

#section10 #footer{
    position: absolute;
    width: 100%;
    bottom: 8%;
}
#section10 #footer address{
    font-style: normal;
}

